
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
::-webkit-scrollbar {
  width: 0;
}

:root {
    --main-color: #FBF9F1;
    --dark: #454545;
    --blue: #7077A1;
    --accent: #FF6000;
    --light: #EEEEEE;
    --yellow:#ffe900;
    --light-blue: #3bace8;
    --title-font: font-family: "Poppins";
    --section-title-font: font-family: "Ubuntu";
    --text-font: font-family: "Nunito Sans";
    }


html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    background-color: var(--main-color);
    min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}
  p, h3, h4{
    letter-spacing: 1.1px;
  }


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 12%;
}

.modal-button{
  width: 200px;
  background-color: var(--yellow);
  color: black;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-family: var(--section-title-font);
  font-size: 20px;
  font-weight: 800;
  position:fixed;
  right: 4vw;
  top: 16vh;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 4s infinite;
}


@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

.modal-button:hover{
  transform: scale(1.1);
  transition: .4s linear;
  box-shadow: 0px 5px 39px 17px rgba(130, 136, 140, 0.53);

}

  @media screen and (max-width: 1200px) {
  .modal-button{
      right: 4vw;
      top: 14vh;
  }
  }


  @media screen and (max-width: 992px) {
    .modal-button{
      right: 2.5vw;
      top: 13vh;
  }
  }

  @media screen and (max-width: 768px) {
    .modal-button{
      width: 160px;
      padding: 8px;
      font-size: 15px;
      right: 1.9vw;
      top: 10vh;
  }
  }


  @media screen and (max-width: 576px) {
    .modal-button{
      width: 160px;
      padding: 3px;
      font-size: 14px;
      left: 1vw;
      top: 2vh;
      z-index:1000;
  }
  }

  

